<section class="about section" id="sobre">
  <div class="container">
    <div class="row">
      <div class="section-title padd-15">
        <h2>Sobre Mi</h2>
      </div>
    </div>
    <div class="row">
      <div class="about-content padd-15">
        <div class="row">
          <div class="about-text padd-15">
            <h3>Soy {{portafolioData.name}} y soy <span>{{portafolioData.puesto}}</span></h3>
            <p>
              {{portafolioData.about}}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="personal-info padd-15">
            <div class="row">
              <div class="info-item padd-15">
                <p>Nacimiento : <span>{{portafolioData.nacimiento.dia}} / {{portafolioData.nacimiento.mes}} / {{portafolioData.nacimiento.anio}}</span></p>
              </div>
              <div class="info-item padd-15">
                <p>Edad : <span>{{portafolioData.edad}}</span></p>
              </div>
              <div class="info-item padd-15">
                <p>GitHub : <span>{{portafolioData.github}}</span></p>
              </div>
              <div class="info-item padd-15">
                <p>Mail : <span>{{portafolioData.mail}}</span></p>
              </div>
              <div class="info-item padd-15">
                <p>Teléfono : <span>{{portafolioData.cel}}</span></p>
              </div>
              <div class="info-item padd-15">
                <p>Ciudad : <span>{{portafolioData.ubicacion}}</span></p>
              </div>
            </div>
            <div class="row">
              <div class="buttons padd-15">
                <a
                  href="../../assets/CV Brian Pelaez.pdf"
                  class="btn"
                  download=""
                  >Download CV</a
                >
                <a routerLink="../contact" class="btn hire-me">Contactame</a>
              </div>
            </div>
          </div>
          <div class="skills">
            <div class="skill-item padd-15">
              <div class="skill-percent">{{portafolioData.skills.css}}</div>
              <h5>CSS</h5>
              <div class="progress">
                <div class="progress-in" [style]="{width: portafolioData.skills.css}"></div>
              </div>
            </div>
            <div class="skill-item padd-15">
              <div class="skill-percent">{{portafolioData.skills.html}}</div>
              <h5>HTML</h5>
              <div class="progress">
                <div class="progress-in" [style]="{width: portafolioData.skills.html}"></div>
              </div>
            </div>
            <div class="skill-item padd-15">
              <div class="skill-percent">{{portafolioData.skills.js}}</div>
              <h5>JS</h5>
              <div class="progress">
                <div class="progress-in" [style]="{width: portafolioData.skills.js}"></div>
              </div>
            </div>
            <div class="skill-item padd-15">
              <div class="skill-percent">{{portafolioData.skills.react}}</div>
              <h5>React</h5>
              <div class="progress">
                <div class="progress-in" [style]="{width: portafolioData.skills.react}"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="education padd-15">
            <h3 class="title">Educación</h3>
            <div class="row">
              <div class="timeline-box padd-15">
                <div class="timeline shadow-dark">
                  <!-- TimeLine Item -->
                  <div class="timeline-item" *ngFor="let item of portafolioData.education">
                    <div class="circle-dot"></div>
                    <h3 class="timeline-date">
                      <i class="fa fa-calendar"></i> {{item.anio}} - {{item.institucion}}
                    </h3>
                    <h4 class="timeline-title">
                      {{item.name}}
                    </h4>
                    <p class="timeline-text">
                      {{item.descripcion}}
                    </p>
                  </div>
                  <!-- TimeLine Item -->
                </div>
              </div>
            </div>
          </div>
          <div class="experience padd-15">
            <h3 class="title">Experiencia</h3>
            <div class="row">
              <div class="timeline-box padd-15">
                <div class="timeline shadow-dark">
                  <!-- TimeLine Item -->
                  <div class="timeline-item" *ngFor="let elem of portafolioData.exp">
                    <div class="circle-dot"></div>
                    <h3 class="timeline-date">
                      <i class="fa fa-calendar"></i> {{elem.anios}} - {{elem.name}}
                    </h3>
                    <h4 class="timeline-title">
                      {{elem.puesto}}
                    </h4>
                    <p class="timeline-text">
                      {{elem.descripcion}}
                    </p>
                  </div>
                  <!-- TimeLine Item -->
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
