<div class="tabs is-fullwidth">
  <ul>
    <li>
      <a routerLink="home">
        <span class="icon"><i class="fa-solid fa-house" aria-hidden="true"></i></span>
        <span>Home</span>
      </a>
    </li>
    <li >
      <a routerLink="about">
        <span class="icon"><i class="fa-solid fa-address-card" aria-hidden="true"></i></span>
        <span>About</span>
      </a>
    </li>
    <li>
      <a routerLink="portafolio">
        <span class="icon"><i class="fa-solid fa-laptop-file" aria-hidden="true"></i></span>
        <span>Portafolio</span>
      </a>
    </li>
    <li >
      <a routerLink="contact">
        <span class="icon"><i class="fa-solid fa-envelope" aria-hidden="true"></i></span>
        <span>Contacto</span>
      </a>
    </li>
    <li>
      <a routerLink="login">
        <span class="icon"><i class="fa-solid fa-arrow-right-to-bracket"></i></span>
        <span>LogIn</span>
      </a>
    </li>
  </ul>
</div>
<script>

</script>