*{
    background-color: var(--text-black-900);
}
div a {
    text-decoration: none;
}

.icon,
a{
    color: var(--bg-black-900) !important;
}


li:hover > a {
    color:var(--skin-color) !important;
    border-bottom: 1px solid var(--skin-color);
}
a:hover > .icon {
    color: var(--skin-color) !important;
}





