<section class="about section" id="sobre">
  <div class="container">
    <div class="row">
      <div class="section-title padd-15">
        <h2>Sobre Mi</h2>
      </div>
    </div>
    <div class="row">
      <div class="about-content padd-15">
        <div class="row">
          <div class="about-text padd-15">
            <h3>I'm Brian Pelaez and <span>Web Developer</span></h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
              in earum quidem modi iste facere unde. Voluptatibus eius quo ea
              voluptates repellendus sapiente esse, modi corrupti cupiditate
              vitae, consequuntur facere!
            </p>
          </div>
        </div>
        <div class="row">
          <div class="personal-info padd-15">
            <div class="row">
              <div class="info-item padd-15">
                <p>Nacimiento : <span>17 SEP 1993</span></p>
              </div>
              <div class="info-item padd-15">
                <p>Edad : <span>28</span></p>
              </div>
              <div class="info-item padd-15">
                <p>GitHub : <span>github.com/BrianPelaez</span></p>
              </div>
              <div class="info-item padd-15">
                <p>Mail : <span>pelaez_brian@hotmail.com</span></p>
              </div>
              <div class="info-item padd-15">
                <p>Teléfono : <span>+54 011 6462-9763</span></p>
              </div>
              <div class="info-item padd-15">
                <p>Ciudad : <span>Argentina, CABA</span></p>
              </div>
              <div class="info-item padd-15">
                <p>Freelance : <span>Disponible</span></p>
              </div>
            </div>
            <div class="row">
              <div class="buttons padd-15">
                <a
                  href="../../assets/CV Brian Pelaez.pdf"
                  class="btn"
                  download=""
                  >Download CV</a
                >
                <a routerLink="../contact" class="btn hire-me">Contactame</a>
              </div>
            </div>
          </div>
          <div class="skills">
            <div class="skill-item padd-15">
              <div class="skill-percent">70%</div>
              <h5>CSS</h5>
              <div class="progress">
                <div class="progress-in" style="width: 70%"></div>
              </div>
            </div>
            <div class="skill-item padd-15">
              <div class="skill-percent">80%</div>
              <h5>HTML</h5>
              <div class="progress">
                <div class="progress-in" style="width: 80%"></div>
              </div>
            </div>
            <div class="skill-item padd-15">
              <div class="skill-percent">87%</div>
              <h5>JS</h5>
              <div class="progress">
                <div class="progress-in" style="width: 87%"></div>
              </div>
            </div>
            <div class="skill-item padd-15">
              <div class="skill-percent">78%</div>
              <h5>React</h5>
              <div class="progress">
                <div class="progress-in" style="width: 78%"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="education padd-15">
            <h3 class="title">Educación</h3>
            <div class="row">
              <div class="timeline-box padd-15">
                <div class="timeline shadow-dark">
                  <!-- TimeLine Item -->
                  <div class="timeline-item">
                    <div class="circle-dot"></div>
                    <h3 class="timeline-date">
                      <i class="fa fa-calendar"></i> 2018
                    </h3>
                    <h4 class="timeline-title">
                      FullStack Developer con Java y Angular
                    </h4>
                    <p class="timeline-text">
                      Eclipse - XAMPP - Spring - Maven - Postman - HTML/CSS -
                      MySQL - Git - Angular - POO - UML - Sprint
                    </p>
                  </div>
                  <!-- TimeLine Item -->
                  <!-- TimeLine Item -->
                  <div class="timeline-item">
                    <div class="circle-dot"></div>
                    <h3 class="timeline-date">
                      <i class="fa fa-calendar"></i> 2020
                    </h3>
                    <h4 class="timeline-title">
                      Desarrollador con Android Studio
                    </h4>
                    <p class="timeline-text">
                      Android Studio - Database (DBMS) - Android Software
                      Development - Material Design
                    </p>
                  </div>
                  <!-- TimeLine Item -->
                  <!-- TimeLine Item -->
                  <div class="timeline-item">
                    <div class="circle-dot"></div>
                    <h3 class="timeline-date">
                      <i class="fa fa-calendar"></i> 2022
                    </h3>
                    <h4 class="timeline-title">#SeProgramar</h4>
                    <p class="timeline-text">
                      Fundamentos de la programación
                      Programación estructurada
                      Programación orientada a objetos (JS)
                    </p>
                  </div>
                  <!-- TimeLine Item -->
                  <!-- TimeLine Item -->
                  <div class="timeline-item">
                    <div class="circle-dot"></div>
                    <h3 class="timeline-date">
                      <i class="fa fa-calendar"></i> 2022
                    </h3>
                    <h4 class="timeline-title">#YoProgramo</h4>
                    <p class="timeline-text">
                        Programación orientada a objetos (JAVA)<br>
                        Diseño orientado a objetos (JAVA)<br>
                        Problemas algorítmicos (JAVA)<br>
                        Diseño de bases de datos (SQL)<br>
                        Frontend - Backend<br>
                        Integración con otros sistemas web<br>
                    </p>
                  </div>
                  <!-- TimeLine Item -->
                </div>
              </div>
            </div>
          </div>
          <div class="experience padd-15">
            <h3 class="title">Experiencia</h3>
            <div class="row">
              <div class="timeline-box padd-15">
                <div class="timeline shadow-dark">
                  <!-- TimeLine Item -->
                  <div class="timeline-item">
                    <div class="circle-dot"></div>
                    <h3 class="timeline-date">
                      <i class="fa fa-calendar"></i> 2015 - 2018
                    </h3>
                    <h4 class="timeline-title">
                      Compumundo - Auxiliar Técnico
                    </h4>
                    <p class="timeline-text">
                      Técnico de sucursal, atención al cliente, ventas,
                      asesoramiento tecnológico. Reparación oficial de equipos
                      Samsung, Apple, ASUS, Nokia, Hyundai. Tareas de depósito,
                      auditoria de stock, recepción de mercadería. Facturación y
                      cobranzas.
                    </p>
                  </div>
                  <!-- TimeLine Item -->
                  <!-- TimeLine Item -->
                  <div class="timeline-item">
                    <div class="circle-dot"></div>
                    <h3 class="timeline-date">
                      <i class="fa fa-calendar"></i> 2018 - 2021
                    </h3>
                    <h4 class="timeline-title">Compumundo - Jéfe Técnico</h4>
                    <p class="timeline-text">
                      Responsable del sector técnico a cargo de tres personas.
                      Planes de acción, coaching, devoluciones, seguimiento y
                      talent map del servicio técnico. Gestión de horario del
                      personal. Capacitación para nuevos recursos. Creación de
                      planillas para control de ventas y objetivos de la
                      sucursal
                    </p>
                  </div>
                  <!-- TimeLine Item -->
                  <!-- TimeLine Item -->
                  <div class="timeline-item">
                    <div class="circle-dot"></div>
                    <h3 class="timeline-date">
                      <i class="fa fa-calendar"></i> 2021 - Presente
                    </h3>
                    <h4 class="timeline-title">Sistemas y procesos en Fleni</h4>
                    <p class="timeline-text">
                      Resolución y seguimiento de Incidentes con Invgate.<br>
                      Administrador de InvGate. <br>
                      Mantenimiento de hardware y
                      software en entorno Windows / Linux / MacOs. <br>
                      Configuración de telefonía ip y central telefónica. <br>
                      Mantenimiento de
                      redes, switches y cableado.<br>
                      Manejo de cuentas y grupos en
                      AD. <br>
                      Windows server - SQL server.
                    </p>
                  </div>
                  <!-- TimeLine Item -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
