<section class="contacto section" id="contacto">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h2>Contacto</h2>
            </div>
        </div>
        <h3 class="contacto-title  padd-15">Tienes preguntas?</h3>
        <h4 class="contacto-sub-title  padd-15">Estoy a tu servicio!</h4>
        <div class="row">
            <!-- Contacto info item Start-->
            <div class="contacto-info-item padd-15">
                <div class="icon"><a href="https://wa.link/6tlgbk" target="_blank"><i class="fa-brands fa-whatsapp"></i></a></div>
                <h4>Whatsapp</h4>
                <p>{{portafolioData.cel}}</p>
            </div>
            <!-- Contacto info item End-->
            <!-- Contacto info item Start-->
            <div class="contacto-info-item padd-15">
                <div class="icon"><a href="https://www.linkedin.com/in/bpelaez/"><i class="fa-brands fa-linkedin"></i></a></div>
                <h4>LinkedIn</h4>
                <p>{{portafolioData.linkedin}}</p>
            </div>
            <!-- Contacto info item End-->
            <!-- Contacto info item Start-->
            <div class="contacto-info-item padd-15">
                <div class="icon"><i class="fa fa-envelope"></i></div>
                <h4>Email</h4>
                <p>{{portafolioData.mail}}</p>
            </div>
            <!-- Contacto info item End-->
            <!-- Contacto info item Start-->
            <div class="contacto-info-item padd-15">
                <div class="icon"><a href="https://github.com/BrianPelaez" target="_blank"><i class="fa-brands fa-github"></i></a></div>
                <h4>Github</h4>
                <p>{{portafolioData.github}}</p>
            </div>
            <!-- Contacto info item End-->
        </div>
        <h3 class="contacto-title padd-15">Enviame un email</h3>
        <h4 class="contacto-sub-title padd-15">Tu pregunta no es molestia!</h4>

        <!-- Contacto Form Start -->
        <form [formGroup]="form" (ngSubmit)="onSubmit($event)">
            <div class="row">
                <div class="contacto-form padd-15">
                    
                    <div class="row">
                        <div class="help is-danger col-6 padd-15">
                            <div *ngIf="form.get('nombre')?.touched && form.get('nombre')?.errors" class="help is-danger">Ingrese un nombre</div>
                            
                        </div>
                        <div class="help is-danger col-6 padd-15">
                            <div *ngIf="form.get('email')?.touched && form.get('email')?.errors" class="help is-danger">Ingrese un mail válido</div>
                            
                        </div>
                    </div>
                    
                    
                    <div class="row">
                        
                        <div class="form-item col-6 padd-15">
                            <div class="form-group">                            
                                <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre">
                            </div>
                            
                        </div>
                        
                        <div class="form-item col-6 padd-15">
                            
                            <div class="form-group">
                                
                                <input type="email" class="form-control" placeholder="Email" formControlName="email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-item col-12 padd-15">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Asunto" formControlName="asunto">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="help is-danger col-6 padd-15">
                            <div *ngIf="form.get('mensaje')?.touched && form.get('mensaje')?.errors" class="help is-danger">Ingrese un mensaje</div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-item col-12 padd-15">
                            <div class="form-group">
                                <textarea class="form-control" id="" placeholder="Mensaje..." cols="30" rows="10" formControlName="mensaje"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-item col-12 padd-15">
                            <button type="submit" class="btn">Enviar Mensaje</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- Contacto Form End -->
        
    </div>
</section>