<section class="home section" id="home">
    <div class="container">
        <div class="row">
            <div class="home-info padd-15">
                <h3 class="hello">
                    Hola, mi nombre es <span class="name">Brian Pelaez</span>
                </h3>
                <h3 class="my-profession">Soy <span class="typing">Desarrollador</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Natus, alias molestias? Necessitatibus impedit recusandae, 
                    ipsam nemo beatae, quisquam iste sunt sit sequi vitae et 
                    laboriosam non omnis excepturi saepe distinctio.</p>
                    <a routerLink="../contact" class="btn hire-me">Contactame</a>
            </div>
            <div class="home-img padd-15">
                <img src="../../assets/jpg/me.jpg" alt="Brian Pelaez">
            </div>
        </div>
    </div>
</section>